In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [40]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine
import os
from sqlalchemy.exc import SQLAlchemyError

# Define paths for the transformed dataset
transformed_dir = r"C:\Users\ADMIN\Desktop\Projects\ETL-Data-Pipeline-for-Global-Superstore-Analytics\Dataset\transformed"
transformed_data_path = os.path.join(transformed_dir, "transformed_data.csv")

# Database configuration
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'  # Replace with your database endpoint (localhost if running locally)
USER = 'postgres'       # Replace with your database username (postgres is default)
PASSWORD = 'hellen'     # Replace with your database password
PORT = 5434             # Default PostgreSQL port
DATABASE = 'etl_superstore'  # The name of the database

# Create the engine
print("Connecting to the database...")
try:
    engine = create_engine(f"postgresql+psycopg2://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")
    # Test connection
    connection = engine.connect()
    print("Database connection established!")
except SQLAlchemyError as e:
    print(f"Error occurred while connecting to the database: {e}")
    exit(1)

# Load transformed data
print("Loading transformed data...")
try:
    transformed_data = pd.read_csv(transformed_data_path)
    print(f"Transformed data loaded with {transformed_data.shape[0]} rows and {transformed_data.shape[1]} columns.")
except Exception as e:
    print(f"Error occurred while loading the transformed data: {e}")
    exit(1)

# Define table name
TABLE_NAME = 'superstore_analytics'  # You can change the name if needed
print(f"Uploading data to the '{TABLE_NAME}' table...")

Connecting to the database...
Database connection established!
Loading transformed data...
Transformed data loaded with 9800 rows and 20 columns.
Uploading data to the 'superstore_analytics' table...

In [ ]:
# Upload data to PostgreSQL database using the engine
try:
    # Upload the DataFrame to SQL using the engine
    transformed_data.to_sql(TABLE_NAME, con=engine, if_exists='replace', index=False)
    print("\nData successfully loaded into the database!")
except SQLAlchemyError as e:
    print(f"Error occurred while uploading data to the database: {e}")

In [42]:
from sqlalchemy import create_engine
import pandas as pd

# Database configuration
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'  # Replace with your database endpoint
USER = 'postgres'       # Replace with your database username
PASSWORD = 'hellen'     # Replace with your database password
PORT = 5434             # Default PostgreSQL port

# Create engine to connect to the PostgreSQL instance (not a specific database)
engine = create_engine(f"postgresql+psycopg2://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/postgres")

# Query to list databases
with engine.connect() as connection:
    result = connection.execute("SELECT datname FROM pg_database WHERE datistemplate = false;")
    databases = [row[0] for row in result]
    print(f"Databases: {databases}")

Databases: ['postgres', 'weather_db', 'etl_project_db', 'etl_superstore']

In [46]:
import pandas as pd
from sqlalchemy import create_engine
import os
from sqlalchemy.exc import SQLAlchemyError

# Define paths for the transformed dataset
transformed_dir = r"C:\Users\ADMIN\Desktop\Projects\ETL-Data-Pipeline-for-Global-Superstore-Analytics\Dataset\transformed"
transformed_data_path = os.path.join(transformed_dir, "transformed_data.csv")

# Database configuration
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'  # Replace with your database endpoint
USER = 'postgres'       # Replace with your database username
PASSWORD = 'hellen'     # Replace with your database password
PORT = 5434             # Default PostgreSQL port
DATABASE = 'etl_superstore'  # The name of the database

# Create engine
print("Connecting to the database...")
try:
    engine = create_engine(f"postgresql+psycopg2://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")
    # Test connection
    connection = engine.connect()
    print("Database connection established!")
except SQLAlchemyError as e:
    print(f"Error occurred while connecting to the database: {e}")
    exit(1)

# Load transformed data
print("Loading transformed data...")
try:
    transformed_data = pd.read_csv(transformed_data_path)
    print(f"Transformed data loaded with {transformed_data.shape[0]} rows and {transformed_data.shape[1]} columns.")
except Exception as e:
    print(f"Error occurred while loading the transformed data: {e}")
    exit(1)

# Define table name
TABLE_NAME = 'superstore_analytics'  # You can change the name if needed
print(f"Creating the table '{TABLE_NAME}'...")

# Create table schema (example)
try:
    # Define the table creation query
    create_table_query = """
    CREATE TABLE IF NOT EXISTS superstore_analytics (
        Row_ID INT PRIMARY KEY,
        Order_ID VARCHAR(50),
        Order_Date DATE,
        Ship_Date DATE,
        Ship_Mode VARCHAR(50),
        Customer_ID VARCHAR(50),
        Customer_Name VARCHAR(100),
        Segment VARCHAR(50),
        Country VARCHAR(50),
        City VARCHAR(50),
        State VARCHAR(50),
        Postal_Code VARCHAR(20),  -- Allow NULLs for missing values
        Region VARCHAR(50),
        Product_ID VARCHAR(50),
        Category VARCHAR(50),
        Sub_Category VARCHAR(50),
        Product_Name VARCHAR(100),
        Sales DECIMAL(10, 2),
        Sales_Category VARCHAR(50),
        iso_3166_1 VARCHAR(10)  -- Allow NULLs for missing values
    );
    """
    # Execute the query to create the table
    with engine.connect() as connection:
        connection.execute(create_table_query)
        print(f"Table '{TABLE_NAME}' created successfully!")
except SQLAlchemyError as e:
    print(f"Error occurred while creating the table: {e}")
    exit(1)

# Upload data to PostgreSQL database using the engine
print(f"Uploading data to the '{TABLE_NAME}' table...")
try:
    # Upload the DataFrame to SQL using the engine
    transformed_data.to_sql(TABLE_NAME, con=engine, if_exists='replace', index=False)
    print("\nData successfully loaded into the database!")
except SQLAlchemyError as e:
    print(f"Error occurred while uploading data to the database: {e}")

Connecting to the database...
Database connection established!
Loading transformed data...
Transformed data loaded with 9800 rows and 20 columns.
Creating the table 'superstore_analytics'...
Table 'superstore_analytics' created successfully!
Uploading data to the 'superstore_analytics' table...

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14412\2484845370.py:82: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  transformed_data.to_sql(TABLE_NAME, con=engine, if_exists='replace', index=False)

AttributeError: 'Engine' object has no attribute 'cursor'

In [66]:
print(transformed_data.head())
print(transformed_data.info())
print(transformed_data.columns)

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156 2017-08-11 2017-11-11    Second Class    CG-12520
1       2  CA-2017-152156 2017-08-11 2017-11-11    Second Class    CG-12520
2       3  CA-2017-138688 2017-12-06        NaT    Second Class    DV-13045
3       4  US-2016-108966 2016-11-10        NaT  Standard Class    SO-20335
4       5  US-2016-108966 2016-11-10        NaT  Standard Class    SO-20335

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales Sales_Category
0                  Bush Somerset Collection Bookcase  261.9600            Low
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         Medium
2  Self-Adhesive Address Labels for Typewriters b...   14.6200            Low
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         Medium
4                     Eldon Fold 'N Roll Cart System   22.3680            Low
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9800 non-null   int64
 1   Order ID        9800 non-null   object
 2   Order Date      3959 non-null   datetime64[ns]
 3   Ship Date       3815 non-null   datetime64[ns]
 4   Ship Mode       9800 non-null   object
 5   Customer ID     9800 non-null   object
 6   Customer Name   9800 non-null   object
 7   Segment         9800 non-null   object
 8   Country         9800 non-null   object
 9   City            9800 non-null   object
 10  State           9800 non-null   object
 11  Postal Code     9800 non-null   float64
 12  Region          9800 non-null   object
 13  Product ID      9800 non-null   object
 14  Category        9800 non-null   object
 15  Sub-Category    9800 non-null   object
 16  Product Name    9800 non-null   object
 17  Sales           9800 non-null   float64
 18  Sales_Category  9800 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(1), object(14)
memory usage: 1.4+ MB
None
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Sales_Category'],
      dtype='object')

In [ ]:
try:
    # Upload the cleaned DataFrame to SQL using the engine
    transformed_data.to_sql('superstore_analytics', con=engine, if_exists='replace', index=False)
    print("\nData successfully loaded into the database!")
except SQLAlchemyError as e:
    print(f"Error occurred while uploading data to the database: {e}")